<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
 
    <services>
      <service name="SOA.Intranet.Service.FootballService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8083/FootballService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- À moins qu'elle ne soit complète, l'adresse est relative à l'adresse de base fournie ci-dessus -->

        <!--Un point de terminaison pour représenter un abonnement basique-->
        <endpoint address="http://localhost:8083/FootballService/"
                   binding="basicHttpBinding"
                   contract="SOA.Intranet.Service.IFootballService"/>

        <!--Un point de terminaison pour représenter un abonnement vip-->
        <endpoint address="http://localhost:8084/FootballService/"
                   binding="basicHttpBinding"
                   contract="SOA.Intranet.Service.IFootballSpecialService"/>
                  
        <!-- Metadata Endpoints -->
        <!-- Le point de terminaison de l'échange de métadonnées est utilisé par le service pour se décrire aux clients. --> 
        <!-- Ce point de terminaison n'utilise pas de liaison sécurisée et doit être sécurisé ou supprimé avant le déploiement -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding">
          <security mode="Message"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsBinding">
          <reliableSession enabled="true" ordered="True"/>
        </binding>
      </wsHttpBinding>
      
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
