<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="firmdbconnection" connectionString="Data Source=PC2023\PC2023;Initial Catalog=FirmDB;Integrated Security=True"/>
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="SOA.ConsoleHost.FirmService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090"/>
          </baseAddresses>
        </host>

        <endpoint address="FirmService" 
                  binding="basicHttpBinding" 
                  contract="SOA.ConsoleHost.IFirmService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors> 
    </behaviors>
   
    
  </system.serviceModel>
</configuration>